body {
    background: #1e1e1e;
    background: -moz-linear-gradient(45deg, #1e1e1e 0%, #4f5052 75%, #4d4e50 100%);
    background: -webkit-linear-gradient(45deg, #1e1e1e 0%,#4f5052 75%,#4d4e50 100%);
    background: linear-gradient(45deg, #1e1e1e 0%,#4f5052 75%,#4d4e50 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#4d4e50',GradientType=1 );
    background-image: url('./assets/bkg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 4em 0 7em;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-shadow: 1px 2px 2px #262650;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
}
::-moz-placeholder {
    color: #ccc;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #ccc;
    font-style: italic;
}
:-moz-placeholder {
    color: #ccc;
    font-style: italic;
}

input:focus {
    background-color: white!important;
    color: #000!important;
}

small {
    font-size: 0.75em;
}

header {
    padding-top: 7em;
}

header>h1 {
    margin: 0;
    font-size: 6em;
    margin-bottom: 0.6em;
    margin-left: -0.5em;
}

p.motto {
    font-size: 2.7em;
    font-style: italic;
}

section.main {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.description {
    background-color: rgba(255,255,255,0.2);
    font-size: 1.7em;
    padding: 1em;
    margin-right: 0.8em;
}

.contact-form-container {
    background-color: rgba(0,0,0,0.3);
}

.contact-form-header {
    margin: 0.7em;
    color: #eef8ff;
    font-size: 1.6em;
    font-weight: bold;
}

.contact-form-container>form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 0.5em;
}

.form-input {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    justify-content: space-between;
}

.form-input>label {
    font-size: 1.2em;
    margin-right: 2em;
}

.form-input>input {
    border: none;
    height: 2em;
    background-color: rgba(200,200,200,0.3);
    color: black;
    padding: 0.3em 0.6em;
    font-size: 1.2em;
}

button {
    background: #2b90de;
    border: none;
    padding: 0.5em 0.9em;
    font-size: 1.2em;
    color: #e1eff9;
    border-radius: 3px;
    box-shadow: -1px 1px 0px 1px rgba(10,10,10,0.3);
    text-shadow: -1px 0 2px #000;
    cursor: pointer;
}

.auth-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}
.auth-button-container>button {
    cursor: pointer;
    display: none;
}

.auth-button-container>button.log-in-button {
    background-color: #b5228b;
}

.auth-button-container>button.log-out-button {
    background-color: #5f5f5f;
}

.form-control-right {
    justify-content: end;
    justify-content: flex-end;
    display: flex;
}

/* 
    In action Vandelay's service demo
*/

.vandelay-demo {
    right: 80px;
    position: fixed;
    transform: translateY(270px) translateX(50px);
    will-change: transition;
}

.r-animatable {
    transition: transform 2s cubic-bezier(1,0.9,0.8,0.4); 
}

.r-going {
    transform: translateY(-895px) translateX(-350px);
}